/* ---------------------------- Estilos generales ---------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

:root {
    /* LIGHT MODE */
    --color-fondo-principal: #F0F0F0;
    --color-fondo-secundario: #E6F7FF;
    --color-texto-principal: #003366;
    --color-resaltado: #FFD700;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* DARK MODE */
        --color-fondo-principal: #001F33;
        --color-fondo-secundario: #004C80;
        --color-texto-principal: #F0F0F0;
        --color-resaltado: #FFE066;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: var(--color-fondo-principal);
    color: var(--color-texto-principal);
}

main {
    display: flex;
    flex-direction: row;
}

/* ---------------------------- Estilos del encabezado ---------------------------- */
header {
    background-color: var(--color-fondo-secundario);
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0 .5rem var(--color-resaltado);
}

.logo {
    max-width: 150px;
    height: auto;
    object-fit: contain;
}

.contenedor-encabezado,
footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

/* ---------------------------- Estilos del formulario ---------------------------- */
.seccion-formulario {
    flex: 1 1 10%;
    margin: 1rem;
    background-color: var(--color-fondo-secundario);
    padding: 1rem;
    border-radius: 1%;
    box-shadow: 0 0 .5rem var(--color-resaltado);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input {
    padding: 0.5rem;
    border: 1px solid var(--color-texto-principal);
    border-radius: .5rem;
    background-color: var(--color-fondo-principal);
    color: var(--color-texto-principal);
    font-size: 1rem;
}

form input::placeholder {
    color: var(--color-texto-principal);
    opacity: 0.5;
}

.botones-formulario {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-weight: 500;
}

button[type="submit"] {
    background-color: var(--color-resaltado);
    color: var(--color-texto-principal);
}

button[type="reset"] {
    background-color: var(--color-texto-principal);
    color: var(--color-fondo-principal);
}

/* ---------------------------- Estilos de la lista de productos ---------------------------- */
.seccion-lista-productos {
    flex: 1 1 45%;
    margin: 1rem;
    padding: 1rem;
}

.lista-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.tarjeta {
    background-color: var(--color-fondo-secundario);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 .5rem var(--color-resaltado);
    padding: 1rem;
}

.tarjeta-imagen {
    border-radius: inherit;
    width: 100%;
}

.tarjeta-contenedor-info {
    padding: 0.5rem;
}

.tarjeta-contenedor-botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.material-symbols-outlined {
    font-size: 1.5rem;
    cursor: pointer;
}

/* ---------------------------- Estilos del pie de página ---------------------------- */
footer {
    background-color: var(--color-fondo-secundario);
    color: var(--color-texto-principal);
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 0 .5rem var(--color-resaltado);
    border-radius: 1rem 1rem 0 0;
}

.contenedor-pie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------------------------- Estilos responsivos ---------------------------- */
@media (max-width: 768px) {
    main {
        display: block;
        flex-direction: column;
        align-items: center;
    }

    .contenedor-encabezado,
    footer {
        flex-direction: column;
        align-items: center;
    }

    .seccion-formulario,
    .seccion-lista-productos {
        flex: 1 1 100%;
    }
}